
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* Grid System */
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33333333333333%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/*Main Section*/

.home {
  background: #1f2235;
  
}

.contact {
  background: #1f2235;
  
}
.my-6 {
  margin-top: 10px;
}

#header {
  width: 100%;
  height: 80vh;
  margin-top: 10px; 
}

#header h1{
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
}

#header .brand-name{
  color: #3498db;
}

#header h2{
  color: #484848;
  font-size: 24px;
}

#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}

#header .btn-get-started:hover{
  background-color: #3498db;
  color: #ffffff;
}

.header-img{
  text-align: right;
}

#header .animated{
  animation: up-down 3s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
  
}

@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

/* Navbar */

.nav {
  background: #1f2235;
}

.navbar-brand {
  font-size: 1.3rem;
  color: #fff;

}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}


.menu-active {
  font-size: 1.3rem;
  border-bottom: 1px solid #565356;

}

.navbar a:hover {
  color: #3498db;
}

.navbar {
  display: flex;
  align-items: center;
  
  background: rebeccapurple;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

/* About */ 

.about {
  width: 100%;
  background: #23263a;
  padding: 100px 0;
  margin-top: 10px;
}
.about__img {
  padding: 30px;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  margin-right: 10px;
  
}
.about__img img {
  width: 300px;
  height: 400px;
}
.about__info {
  color: #fff;
}
.about__info h1 {
  margin-bottom: 30px;
}
.about__info-p1 {
  font-size: 14px;
  margin-bottom: 20px;
}
.about__info-p2 {
  font-size: 14px;
}

.info__contacts {
  margin-top: 20px;
}
.info__contacts strong {
  color: #ff4a57;
}
.info__contacts p {
  margin-top: 3px;
}
.info__contacts .col-6 {
  margin: 10px 0;
}


/*  contact //////// */

.contact_div {
  width: 100%;
  height: 75vh;
  background: #1f2235;
 
}

div .text-center {
  color: #fff;
  padding: 25px;
  font-weight: 150;
}

/* Social Icons */

.social-icon-link {
  color: #ffffff;
  font-size: 24px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social-logo {
  color: #ffffff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-self: center;
  margin-bottom: 16px;
}


.page-rights {
  color: #ffffff;
  margin-bottom: 16px;
}


/* Project */

.services {
  background: #1f2235;
  padding: 100px 0;
  color: #fff;
  margin-top: 10px;
}

.common {
  width: 33.33333333333333%;
  margin: 20px auto;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}
.mainHeader {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}
.mainContent {
  font-size: 16px;
  color: #dfdfdf;
}
.commonBorder {
  background: #ff4a57;
  height: 3px;
  width: 100px;
  margin: 30px auto;
}

.services__box {
  padding: 40px;
  background: #23263a;
  color: #fff;
  margin: 20px;
  transition: all 0.5s linear;
}
.services__box:hover {
  background: #ff4a57;
}
.commonIcons {
  font-size: 40px;
  color: #ff4a57;
  margin-bottom: 15px;
}
.services__box:hover .commonIcons {
  color: #fff;
}
.services__box-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services__box-p {
  font-size: 12px;
  color: #dfdfdf;
  
}

/* Skills Section */

.skills {
  background: #1f2235;
  color: #fff;
  padding: 40px;
  margin-top: 10px;
}

.skills .right {
  margin-top: 50px;
}

.skills .title {
  margin-top: 50px;
  
}

.max-width p {
  padding-top: 1px;
}
.skills .title::after{
  content: '';
}

.skills .skills-content .column{
  width: calc(50% - 30px);
}

.skills-content .text{
  font-size: 20px;
  font-weight: 1200;
  margin-bottom: 10px;
}

.skills .skills-content .left p{
  text-align: justify;
}

.skills .skills-content .left a{
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.skills .skills-content .left a:hover{
  color: crimson;
  background: none;
}

.skills .skills-content .right .bars{
  margin-bottom: 15px;
}

.skills .skills-content .right .info{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  
}

.skills .skills-content .right span{
  font-weight: 500;
  font-size: 18px;
 
}

.skills .skills-content .right .line{
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.skills .skills-content .right .line::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: crimson;
}

.skills .skills-content .right .html::before{
  width: 90%;
}

.skills .skills-content .right .css::before{
  width: 80%;
}

.skills .skills-content .right .js::before{
  width: 80%;
}

.skills .skills-content .right .bts::before{
  width: 85%;
}

.skills .skills-content .right .react::before{
  width: 80%;
}

.skills .skills-content .right .node::before{
  width: 80%;
}

.skills .skills-content .right .express::before{
  width: 80%;
}

.skills .skills-content .right .db::before{
  width: 80%;
}

.skills .skills-content .right .py::before{
  width: auto;
}


/*   Footer */

.footer{
  background-color: rgba(255, 0, 76, 0.658);
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  
}

.footer ul li {
  color: #fff;
  display: inline;
  list-style: none;
  font-weight: 1000;
  justify-content: space-around;
  padding: 12px;
}

.footer ul li:hover {
  color: #3498db;
}



/* mobile responsive */

@media (max-width: 991px) {
  #header {
    height: 80vh;
    text-align: center;
  }

  #header .header-img {
    text-align: center;
  }
  #header .header-img img {
    width: 60%;
  }
}


@media (max-width: 768px) {
  #header {
    margin-top: 20px;   
  }
  #header h1 {
    font-size: 28px;
  }
  #header h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header .header-img img {
    width: 70%;
  }
}


@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
  .menu-active {
    font-weight: bold;
    border-bottom: none;
  }
}



@media screen and (max-width: 686px) {
  .footer-links {
    padding-top: 1rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
  .footer-link-wrap {
    flex-direction: column;
  }
  .social-media {
    flex-direction: column;
  }
  .footer-links {
    flex-wrap: wrap;
    margin-left: 65px;
    flex-direction: column;
  }

  .website-rights {
    font-size: 1rem;
    flex-direction: row;
  }
  .website-rights:hover{
    color: rgba(255, 60, 0, 0.884);
  }

  
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
  .footer-link-wrap {
    flex-direction: column;
  }
  .social-media {
    flex-direction: column;
  }
}


@media screen and (max-width: 686px) {
  .services__box-header {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 12px;
    width: fit-content;
  }
  .services__box-p {
    font-size: 12px;
    width: fit-content;
    
  }

  .services__box {
    width: 130px;
  }
}








